
@font-face {
    font-family: "Darker Grotesque";
    src: url(/fonts/Darker_Grotesque/DarkerGrotesque-Light.ttf);
}


/* LANDING PAGE Front page*/

body {
    margin: 0px;
    background-color: #62736F;
}

img {
    width: 100%;
    margin: 0%;
}

h1 {
    font-family: "Roboto Serif";
    font-size: 5em;
}

.front-page {
    display: flex;
    background-color: white;
    align-items: center;
    text-align: center;
    max-height: 100vh;
    overflow: hidden;
    margin-bottom: 80px;
}

.front-page > * {
    flex: 1;
}

.front-page_right img {
    max-width: 100px;
}

.front-page a {
    background-color: #62736F;
    color: white;
    text-decoration: none;
    font-family: "Darker Grotesque";
    border-radius: 70px;
    padding: 8px 80px;
}


/* LANDING PAGE Eco friendly */

h2 {
    font-size: 2.5em;
}

.eco-page {
    display: flex;
    background-color: white;
    align-items: center;
    height: 100vh;
    margin-bottom: 80px;
}

.eco-page > * {
    flex: 1;
}
