

@font-face {
    font-family: "Darker Grotesque", Verdana, Geneva, Tahoma, sans-serif;
    font-family: "Roboto Serif", Verdana, Geneva, Tahoma, sans-serif;
}


/* NEW PAGE - GLOBAL */
/* ----------------- */

/* GLOBAL */

body {
    margin: 0 auto;
    background-color: #62736F;
    font-family: "Darker Grotesque";
}

header {
    background-color: white;
    padding: 10px;
}


nav img {
    width: 100px;
}

nav a {
    text-decoration: none;
    color: black;

}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}

nav ul li {
    margin: auto;
}

img {
    width: 100%;
}

h1 {
    font-family: "Roboto Serif";
    font-size: 60px;
}

h2 {
    font-family: "Roboto Serif";
    font-size: 40px;
}

a {
    text-decoration: none;
}


/* NEW PAGE - LANDING PAGE */
/* ----------------------- */

/* LANDING PAGE Front page*/

.front-page {
    display: flex;
    background-color: white;
    align-items: center;
    text-align: center;
    margin-bottom: 80px;
}

.front-page > * {
    flex: 1;
}

.front-page_right img {
    max-width: 100px;
}

.front-page_left img {
    height: 85vh;
    object-fit: cover;
}

.front-page a {
    background-color: #62736F;
    color: white;
    text-decoration: none;
    font-family: "Darker Grotesque";
    border-radius: 70px;
    padding: 8px 80px;
}


/* LANDING PAGE Eco friendly */

.eco-page {
    display: flex;
    background-color: white;
    align-items: center;
    margin-bottom: 80px;
}

.eco-page_right img {
    height: 550px;
    width: 400px;
    object-fit: cover;
    margin: 50px;
}

.eco-page_right {
    flex: 1;
    text-align: center;
}

.eco-page_left {
    flex: 1;
    margin-left: 80px;
}


/* LANDING PAGE Reviews */

.review-page {
    background-color: white;
    margin-bottom: 80px;
    padding: 100px;
    text-align: center;
    align-items: center;
    
}

.review-page img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.review-page_content {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    gap: 40px;
    margin-top: 100px;
}


/* LANDING PAGE About */

.about-page {
    background-color: white;
    display: flex;
    margin-bottom: 80px;
    text-align: center;
    align-items: center;
}

.about-page_left img {
    height: 500px;
    width: 500px;
    object-fit: cover;
}

.about-page_left {
    flex: 1;
    margin: 50px;
}

.about-page_right {
    flex: 1;
    margin: 50px;
}


/* NEW PAGE - COLLECTION */
/* --------------------- */

/* COLLECTION Header*/

.collection_header {
    height: 400px;
    object-fit: cover;
}

.gender_and_sale {
    background-color: white;
    padding: 35px;
    text-align: center;
}

.gender_and_sale a {
    text-decoration: none;
    color: black;
    padding: 0px 70px;
}


/* COLLECTION Featured */

.featured {
    display: flex;
    justify-content: space-between;
    background: rgb(98,115,111);
    background: linear-gradient(180deg, rgba(98,115,111,1) 0%, rgba(98,115,111,1) 65%, rgba(255,255,255,1) 65%);
/* The background above is copied and pasted from https://cssgradient.io */
}

.featured_jacket {
    height: 600px;
    width: 400px;
    object-fit: contain;
    margin: 50px 100px 0px 0px;
}

.in_focus {
    margin: 100px auto;
    color: white;
}

.focus {
    font-family: "Roboto Serif", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    margin: 0px;
}

#bikers_edition {
    font-family: "Darker Grotesque", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    margin: 0px;
}


/* COLLECTION Popular */

.popular,
.all-jackets {
    background-color: white;
}

.popular h2 {
    margin: 0px 50px 0px 80px;
}

.all-jackets h2 {
    text-align: right;
    margin: 0px 80px 0px 50px;
}

.popular_jackets {
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.popular_jackets img {
    height: 500px;
    width: 300px;
    object-fit: contain;
    background-color: #D9D9D9;
    padding: 50px 50px 0px 50px;
    margin: 20px 20px 0px 20px;
}

.jacket_description {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
}


/* COLLECTION Inspiration */

.inspiration {
    background-color: white;
    display: flex;
    align-items: center;
}

.inspiration img {
    height: 500px;
    width: 550px;
    object-fit: cover;
    margin: 80px 30px 80px 150px;
}

.inspiration_right {
    padding: 30px;
    font-size: 35px;
}


/* NEW PAGE - PRODUCT DETAIL */
/* ------------------------- */

.content {
    background-color: white;
    display: flex;
    padding-left: 50px;
}

.product_right img {
    height: 400px;
    width: 400px;
    object-fit: contain;
}

.product_left {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.product_right {
    margin: auto;
    padding-left: 250px;
    flex: 1;
}

.decitions {
    margin: 50px 10px;
}

.purchase_button {
    background-color: #62736F;
    text-decoration: none;
    font-size: 20px;
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 8px 80px;
}

.back {
    text-decoration: none;
    color: black;
    margin: 60px 60px 60px 0px;
}

.product-detail_headline {
    display: flex;
    position: relative;
    margin-bottom: 50px;
}

.product-detail_headline span {
    position: absolute;
    bottom: 0px;
    right: 250px;
    font-size: 30px;
}


/* NEW PAGE - CHECKOUT */
/* ------------------- */

.checkout {
    background-color: white;
    display: flex;
    justify-content: space-around;
}

.checkout h1,
.checkout h2 {
    margin-top: 10px;
}

.checkout h2 {
    text-align: center;
}

.description {
    border: 1px solid black;
    border-left: none;
    border-top: none;
    border-right: none;
}

.description,
.product-line {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 50px;
}

.product-line img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.purchase_info {
    background-color: #D9D9D9;
    width: 300px;
    padding: 30px 30px 60px 30px;
    text-align: left;
}


.card_vipps {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.card_info {
    display: flex;
    align-items: center;
    border: 6px solid white;
    border-radius: 10px;
    margin: 5px;
}

.cvc {
    margin-bottom: 50px;
}

.total_over {
    margin-top: 100px;
    display:flex;
    justify-content:space-between;
    border: 1px solid;
    border-top: none;
    border-right: none;
    border-left: none;
}

.total_under {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.shipping,
.total {
    margin-left: 10px;
}

.free,
.sum {
    margin-right: 10px;
}


/* NEW PAGE - PURCHASE COMPLETE */
/* ---------------------------- */

.purchase-complete {
    background-color: white;
    text-align: center;
}

.purchase-complete h2 {
    margin-top: 0px;
    padding-top: 50px;
}

.purchase-complete_info {
    display: flex;
    justify-content: space-around;
    width: 1000px;
    margin: auto;
}

.purchase-complete_items {
    background-color: #D9D9D9;
    flex: 1;
    border: 1px solid black;
    border-top: none;
    border-bottom: none;
    border-left: none;
    text-align: left;
    display: flex;
    align-items: center;
    padding-left: 50px;
    justify-content: space-around;
}

.purchase-complete_details {
    background-color: #D9D9D9;
    flex: 1;
    text-align: right;
    padding-right: 50px;
}

.purchase-complete_items img {
    height: 50px;
    width: 50px;
    object-fit: contain;
    margin: 10px;
}

.purchase-complete_jackets {
    display: flex
}

.purchase-complete_text {
    width: 1000px;
    margin: auto auto 60px auto;
}


/* NEW PAGE - FOOTER */
/* ----------------- */

footer {
    color: white;
}

.logo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: contain;
    background-color: white;
    padding: 20px;
}

.logo_and_slogan {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 70px;
}

.logo {
    flex: 1;
}

.slogan {
    flex: 2;
}

.footer_content {
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
}

.footer_content > * {
    flex: 1;
    margin-bottom: 60px;
}

.connect a {
    display: block;
    padding: 4px;
    color: white;
}

.submit_mail {
    border: 6px solid white;
    border-radius: 10px;
    width: 60%;
}

.submit_button {
    border: 4px solid black;   
    border-radius: 25px;
    background-color: black;
    color: white;
}

.mail {
    padding: 0px 0px 50px 150px;
    color: white;
}


/* ------------- */
/* MEDIA QUERIES */
/* ------------- */


/* MEDIA QUERIES Tablet */
@media screen and (max-width: 800px) {

    .review-page {
    flex-direction: column;
    }

    .about-page {
        flex-direction: column;
    }

    .about-page_right {
        margin: 20px;
    }

    .about-page_right h2 {
        margin: 0px;
    }

    .about-page_left {
        margin: 20px 0px 0px 0px;
    }

    .about-page img {
        height: 400px;
        width: 400px;
    }

}

/* MEDIA QUERIES Phone */
@media screen and (max-width: 600px) {

    .front-page {
        flex-direction: column;
    }

    .front-page_right {
        margin-bottom: 50px;
    }

    .front-page img {
        height: 200px;
        width: 375px;
        object-fit: cover;
    }


    .eco-page {
        flex-direction: column;
    }

    .eco-page_left {
        text-align: center;
        margin: auto;
    }

    .eco-page img {
        height: 200px;
        width: 250px;
        margin-bottom: 25px;
    }


    .review-page h2 {
        margin: 0px;
    }

    .review-page_content {
        flex-wrap: wrap;
    }


    .about-page {
        flex-direction: column;
    }

    .about-page_right {
        margin: 20px;
    }

    .about-page_right h2 {
        margin: 0px;
    }

    .about-page_left {
        margin: 20px 0px 0px 0px;
    }

    .about-page img {
        height: 250px;
        width: 250px;
    }


    .logo_and_slogan {
        flex-direction: column;
    }

    .footer_content {
        flex-direction: column;
        text-align: center;
        margin: 0px;
    }

    .mail {
        text-align: center;
        margin-bottom: 20px;
    }



    .gender_and_sale h1 {
        margin: 20px;
    }

    .gender_and_sale a {
        padding: 15px;
    }


    .featured {
        flex-direction: column;
        align-items: center;
    }

    .in_focus {
        margin: 0;
    }

    .featured img {
        height: 250px;
        width: 250px;
        margin: 0px;
    }

    .focus {
        font-size: 30px;
        margin: 20px auto auto auto;
    }

    #bikers_edition {
        font-size: 40px;
        margin: 5px auto 20px auto;
    }


    .popular h2 {
        margin: 0px;
        padding-top: 20px;
    }


   .inspiration {
    flex-direction: column;
   }

   .inspiration_right {
    padding: 0px;
    margin-bottom: 20px;
    font-size: 20px;
   }

   .inspiration img {
        height: 250px;
        width: 250px;
        margin: auto;
   }


   .all_jackets,
   .popular_jackets {
        flex-direction: column;
        margin: 0px;
   }

   .popular_jackets img {
    height: 250px;
    width: 250px;
    margin: 0px;
    padding: 0px;
   }


   .content {
    flex-direction: column-reverse;
    text-align: center;
    padding: 0px 10px;
   }

   .product_right {
    padding: 0px;
    margin: 0px;
   }

   .product_right img {
    height: 250px;
    width: 250px;
   }

   .product-detail_headline span {
    position: absolute;
    bottom: 0px;
    right: 50px;
    left: 50px;
   }

   .back {
    margin: 20px auto;
   }


   .checkout {
    flex-direction: column;
   }

   .description,
   .product-line,
   .total_over,
   .total_under {
    gap: 0px;
    margin: auto 10px;
   }

   .checkout h1,
   .checkout h2 {
    text-align: center;
   }

   .total_over {
    margin-top: 25px;
   }

   .purchase_info h2 {
    margin: 20px auto;
   }

   .purchase_info {
    text-align: center;
    width: auto;
   }

   .purchase_info form input,
   .card_vipps {
    display: block;
    margin: 0 auto;
    padding: 10px;
   }

   #back {
    display: none;
   }


   .purchase-complete_info {
    width: 100%;
   }

   #item {
    display: none;
   }

   .purchase-complete_text {
    width: 100%;
    margin: 20px auto;
   }

}


    
